@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.header img{
    width: 8%;
}
.nav-link{
    color: black;
}
.header{
    position: static;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10%;
    display: flex;
    background: white;
}
.header .navbar a {
    font-size: 1rem;
    font-weight: 600;
    color: grey;
    margin: 0 3rem;
}

.header .navbar a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: rgb(1, 1, 100);
    transition: all 0.5s;
}
.header .navbar a:hover::after{
    width: 100%;
    text-decoration: none;
}
.header .navbar a:hover {
    font-weight: bolder;
    color: rgb(1, 1, 100);
    text-decoration: none;
}
.header .icons div {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: grey;
    cursor: pointer;
    text-align: center;
    margin-left: .3rem;
}
  
.header .icons div:hover {
    color: black;
}

#menu-btn{
    width: 50%;
    margin-left: 180px;
    margin-top: 10px;
    display: none;
}
.home {
    padding: 0;
}
.home .background{
    background: url(images/background3.jpg)no-repeat;
    background-size: cover;
    min-height: 40rem;
    display: flex;
    align-items: center;
    position: relative;
}
.home .background .content {
    width: 50rem;
    position: relative;
}
  
.home .background .content h3 {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(43, 41, 41);
    text-transform: capitalize;
    text-transform: uppercase;
    text-align: center;
}
  
.home .background .content p{
    font-size: 1.4rem;
    color: var(--light-color);
    text-align: justify;
    margin-left: 60px;
}
.objective{
    padding-bottom: 70px;
}
.objective-content h3{
    padding-top: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.objective-content p{
    text-align: justify;
    font-size: 1.5rem;
}
.footer{
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 50px;
}
.footer span{
    color: rgb(1, 1, 100);
}
.heading {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    text-transform: capitalize;
    padding-left: 1rem;
}
.about{
    padding: 20px 10%;
    font-size: 2rem;
    color: rgb(43, 41, 41);
}
.row {
    display: flex;
    padding-left: 1rem;
}
.about .row #about-content p {
    display: flex;
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
}

.contact {
    padding: 2rem 10%;
}
#heading h3{
    color: black;
}
  
.contact .heading {
    color: black;
    text-transform: uppercase;
}
  
.contact .row {
    display: flex;
} 
.contact .row form {
    flex: 1 1 20rem;
    background: var(--white);
    padding: 2rem;
}
  
.contact .row form h3 {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
    text-transform: capitalize;
    margin-top: -10px;
}
  
.contact .row form .box {
    margin: .3rem 0;
    width: 100%;
    padding: 1rem 0;
    border-bottom: .1rem solid rgba(0,0,0,.3);
    font-size: 1.4rem;
    color: var(--light-color);
}
.contact .row form .box:focus {
    border-color: rgb(1, 1, 100);
}
.contact .row form textarea {
    height: 5rem;
    resize: none;
}
.btn {
    display: inline-block;
    margin-top: 0.5rem;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: capitalize;
}    
.btn:hover {
    background: grey;
}
.projects{
    padding: 20px 10%;
    font-size: 2rem;
    color: rgb(43, 41, 41);
}
.projects .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
  
.projects .box-container .box {
    cursor: pointer;
}
.projects .box-container .box .image img {
    width: 100%;
}
  
.projects .box-container .box .content .info {
    padding: 1rem 5rem;
}
  
.projects .box-container .box .content .info h3 {
    font-size: 1.5rem;
    color: grey;
    font-weight: bolder;
    text-transform: capitalize;
}
.projects .box-container .box .content .info h3:hover{
    color: rgb(1, 1, 100);
} 
.box:hover{
    text-decoration: none;
}
.services{
    padding: 20px 10%;
    font-size: 2rem;
    color: rgb(43, 41, 41);
}














































 /* @media (max-width: 1200px) {
    .header {
      padding: 1.5rem 5.2rem;
    }
    section {
      padding: 3rem 5%;
    }
    .logo{
        width: 100%;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 70%;
    }
    section {
      padding: 3rem 4rem;
    }
    .header img{
        width: 20%;
    }
    .header #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: var(--white);
      border-top: var(--border);
      border-bottom: var(--border);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      -webkit-transition: .2s linear;
      transition: .2s linear;
    }
    .header .navbar.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
      display: block;
      margin: 2rem;
    }
    #menu-btn{
        display: block;
        cursor: pointer;
    }
  }
  
  @media (max-width: 768px) {
    .home .slide {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .home .slide .content {
      text-align: center;
    }
    .home .slide .content h3 {
      font-size: 3rem;
    }
    .header img{
        width: 20%;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 40%;
    }
    .about .row .content h3 {
      font-size: 2.5rem;
    }
    .header img{
        width: 20%;
    }
  } 

     */
